body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ff6347;
}

header h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 i {
    margin-right: 10px;
}

main {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.article {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.article:hover {
    transform: scale(1.02);
}

.article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.article h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Georgia', serif;
}

.article a {
    color: #ff6347;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.article .read-more {
    font-weight: bold;
    color: #ff6347;
}

footer {
    text-align: center;
    padding: 2px 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #ff6347;
}
